.header {
  display: none;
}

/* == About page styling == */
.about-section {
  min-height: 80vh;
  padding: 10px;
  margin: 0 auto;
}

.about-subtitle {
  max-width: 60ch;
  margin: 1rem 0;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.about-description {
  display: flex;
  flex-direction: row;
  gap: 9rem;
}

.about-img {
  border-radius: 1rem;
  width: 35rem;
}

.descr-details {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.descr-details p {
  font-size: 1.3rem;
  max-width: 60ch;
}

.descr-details span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.descr-more-details {
  display: flex;
  flex-direction: column;
}

.cvbutton {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #64748b;
  transform: translateY(4rem);
  justify-content: center;
  align-items: center;
}
.cvbutton:hover {
  background-color: #4f46e5;
  color: white;
}
/* -- --=== RESPONSIVENESS ===-- --- */
@media (max-width: 1280px) {
  .about-description {
    gap: 1rem;
  }
  .about-img {
    width: 400px;
    height: 400px;
  }

  .descr-more-details span {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 1024px) {
  .about-img {
    width: 21em;
  }
  .about-description {
    gap: 1rem;
  }
  .descr-more-details {
    display: flex;
  }
}

@media (max-width: 768px) {
  .about-description {
    gap: 2rem;
  }
  .about-img {
    width: 13rem;
    height: 20rem;
  }

  .descr-details p {
    font-size: 1.2rem;
  }

  .descr-details span {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .menu-bar {
    font-size: 1rem;
  }
  .about-description {
    flex-direction: column;
    gap: 5rem;
  }

  .about-img {
    width: 15rem;
    height: 10rem;
  }

  .descr-details {
    flex-direction: column;
    gap: 3rem;
  }
  span {
    top: 10px;
  }
}

@media (max-width: 475px) {
  .nav-bar {
    display: none;
  }
  .menu-bar {
  }
  .about-description {
    flex-direction: column;
    gap: 5rem;
  }
  .about-img {
    width: 15rem;
  }
  .descr-details {
    flex-direction: column;
    gap: 3rem;
  }
}
a{
  text-decoration: none;
}
