.header {
  display: none;
}

/* == About page styling == */
.about-section {
  min-height: 90vh;
  gap: 60px;

  padding: 50px;
}

.about-subtitle {
  max-width: 60ch;
  margin: 2rem 0;
}

.about-description {
  display: flex;
  flex-direction: row;
  gap: 9rem;
}

.about-img {
  border-radius: 1rem;
  width: 35rem;
}

.descr-details {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.descr-details span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.descr-more-details {
  display: flex;
  flex-direction: column;
}
/* -- --=== RESPONSIVENESS ===-- --- */
@media (max-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

@media (max-width: 1024px) {
  .container {
    min-width: 1024px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 768px;
  }

  .descr-details span {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 640px) {
  .container {
    min-width: 640px;
  }
}

@media (max-width: 475px) {
  .container {
    min-width: 475px;
  }
}
