@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --bg-color: #f1f5f9;

  --slate-500: #64748b;
  --slate-700: #334155;
  --slate-900: #0f172a;

  --primary-color: #fb7185;
  --secondary-color: #4f46e5;

  --font-family: "Quicksand", sans-serif;
  --alt-font-family: "Protest Revolution", sans-serif;
}
body {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--alt-font-family);
}

table {
  width: 80%;
  margin: 40px auto;
  background: white;
}

table.list {
  text-align: center;
  width: 100%;
}

td {
  border: 1px solid rgb(204, 200, 200);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even),
table.list thread > tr {
  background-color: rgb(204, 200, 200);
}

input[type="text"],
input[type="number"] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(165, 161, 161);
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  background: var(--secondary-color);
}

input[type="reset"]:hover {
  background: var(--secondary-color);
}

button {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #4b99d8;
}
