:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    background: #cad2c5;
    overflow: hidden;
  }
  .box {
    position: relative;
    width: 717px;
    height: 121px;
    margin: 11px 0 0 322px;
    z-index: 1;
    overflow: visible auto;
  }
  .pic {
    position: relative;
    width: 663.027px;
    height: 1px;
    margin: 111px 0 0 33px;
    background: url(./assets/images/2a7da6a4-f98b-444e-9f75-b5d25ddf787b.png)
      no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 121px;
    top: 0;
    left: 0;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 100px;
    font-weight: 700;
    line-height: 121px;
    text-align: left;
    white-space: nowrap;
  }
  .text-2 {
    display: block;
    position: relative;
    height: 61px;
    margin: 0 0 0 496px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 300;
    line-height: 60.511px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .wrapper {
    position: relative;
    width: 483px;
    height: 58px;
    margin: 82px 0 0 134px;
    background: #84a98c;
    z-index: 17;
    border-radius: 10px;
  }
  .text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 11px;
    left: 28px;
    color: #cad2c5;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
  }
  .wrapper-2 {
    position: relative;
    width: 1440px;
    height: 121px;
    margin: 567px 0 0 0;
    background: rgba(82, 121, 111, 0.23);
    z-index: 30;
  }
  .text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 53px;
    left: 1223px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 53px;
    left: 787px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 53px;
    left: 307px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 53px;
    left: 566px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 53px;
    left: 98px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 53px;
    left: 1035px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }
  .box-2 {
    position: absolute;
    width: 1074px;
    height: 65px;
    top: 356px;
    left: 134px;
    z-index: 18;
  }
  .group {
    position: absolute;
    width: 483px;
    height: 58px;
    top: 0;
    left: 0;
    background: #84a98c;
    z-index: 18;
    border-radius: 10px;
  }
  .text-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 10px;
    left: 28px;
    color: #cad2c5;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
  }
  .text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 29px;
    left: 877px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .box-3 {
    position: absolute;
    width: 89.38%;
    height: 42.09%;
    top: 38.28%;
    left: 9.31%;
    z-index: 23;
  }
  .img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 766px;
    background: url(./assets/images/372845de-8899-4f9e-990b-a3d507a1d095.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
    overflow: hidden;
  }
  .box-4 {
    position: absolute;
    width: 483px;
    height: 344px;
    top: 29px;
    left: 0;
    background: #84a98c;
    z-index: 20;
    border-radius: 10px;
  }
  .text-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 20px;
    left: 28px;
    color: #cad2c5;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
  }
  .text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 42px;
    left: 884px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .pic-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 120px;
    left: 766px;
    background: url(./assets/images/eb7c305c-fa2b-4407-995d-51cf3c43b362.png)
      no-repeat center;
    background-size: cover;
    z-index: 6;
    overflow: hidden;
  }
  .text-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 132px;
    left: 858px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .img-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 230px;
    left: 766px;
    background: url(./assets/images/faa13d85-a4af-4be3-b90b-8b0643212fe5.png)
      no-repeat center;
    background-size: cover;
    z-index: 8;
    overflow: hidden;
  }
  .text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 244px;
    left: 862px;
    color: #84a98c;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .pic-3 {
    position: absolute;
    width: 528.004px;
    height: 1px;
    top: 320px;
    left: 759px;
    background: url(./assets/images/cffac017-b41c-4bee-acc4-8075465781f5.png)
      no-repeat center;
    background-size: cover;
    z-index: 10;
  }
  .pic-4 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 352px;
    left: 775px;
    background: url(./assets/images/3014cbe2-4f60-405e-9fe9-4e57681a736f.png)
      no-repeat center;
    background-size: cover;
    z-index: 11;
    overflow: hidden;
  }
  .img-3 {
    position: absolute;
    width: 4.66%;
    height: 13.92%;
    top: 81.67%;
    left: 68.14%;
    background: url(./assets/images/56a566a4-4b3a-460c-bd00-4a171dcbd8b3.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 12;
  }
  .pic-5 {
    position: absolute;
    width: 4.66%;
    height: 13.92%;
    top: 81.67%;
    left: 76.07%;
    background: url(./assets/images/23a04e0c-5900-401d-ae2e-05c1ba55d0b4.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 13;
  }
  .pic-6 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 352px;
    left: 1081px;
    background: url(./assets/images/682f0c39-69eb-4492-82fe-1729e6ebd11f.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
    overflow: hidden;
  }
  .img-4 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 352px;
    left: 1183px;
    background: url(./assets/images/7a10e4d9-9c02-4815-aa05-d42d78d7ed40.png)
      no-repeat center;
    background-size: cover;
    z-index: 15;
    overflow: hidden;
  }
  .text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 395px;
    left: 205px;
    color: #cad2c5;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
  }
 
  a{
    text-decoration: none;
  }
  input[type="text"] {
position:absolute;
    height: 380px;
    width: 480px; 
    top: 30px;
    border-radius: 10px;
    border: none;
    background-color:#84a98c;
    font-size: 30px;
    color: #cad2c5;
    text-indent: 29px;

  }
 input[type="text"]::placeholder{
    color:#cad2c5;
  
   transform: translateY(-150px);
   font-size:30px;
  }
  input[type="email"]{
    height: 50px;
    width: 480px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color:#84a98c ;
    top: 30px;
    font-size: 30px;
    text-indent: 29px;
    color: #cad2c5;
  }
  input[type="email"]::placeholder{
    color: #cad2c5;
  }
  input[type="name"]{
    height: 60px;
    width: 483px;
    border-radius: 10px;
    border: none;
    background-color: #84a98c;
    top: 30px;
    font-size: 30px;
    text-indent: 29px;
    color: #cad2c5;
  }
  input[type="name"]::placeholder{
    color: #cad2c5;
  }
 
