
	/*@name macbook_pro_16____1*/


body
 { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img
 { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div
 { position: absolute; }

#content-container { display: block; position: relative; width: 1728px; width: 1728px; height: 1117px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_macbook_pro_16____1_ek1 {
	top: 0px;
	left: 0px;
	width: 1728px;
	height: 1117px;
}

#_bg__macbook_pro_16____1_ek2 {
	top: 0px;
	left: 0px;
	width: 1728px;
	height: 1117px;
	background:rgba(40.22,41.97,83.94,1);
}


#kagingo_brian {
	top: -35px;
	left: 328px;
	width: 1050px;
	height: 288px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 100px;
	text-align: left;
	-ms-text-shadow:1px 11px 10px rgba(49,198,231,0.6);
	-o-text-shadow:1px 11px 10px rgba(49,198,231,0.6);
	-webkit-text-shadow:1px 11px 10px rgba(49,198,231,0.6);
	-moz-text-shadow:1px 11px 10px rgba(49,198,231,0.6);
	text-shadow:1px 11px 10px rgba(49,198,231,0.6);
	color:#31C6E7;
}

#frame_3 {
	top: 313px;
	left: 328px;
	width: 400px;
	height: 525px;
}

#_bg__frame_3_ek1 {
	top: -1px;
	left: -1px;
	width: 400px;
	height: 525px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #0c4b60;
	background:red;
}


#oip_1 {
	top: 0px;
	left: 0px;
	width: 400px;
	height: 525px;
}


#i_m {
	top: 282px;
	left: 773px;
	width: 247px;
	height: 200px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 100px;
	font-weight: bold;
	text-align: left;
	color:#31C6E7;
}


#brian {
	top: 376px;
	left: 759px;
	width: 388px;
	height: 203px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 100px;
	font-weight: bold;
	text-align: left;
	color:#FF0000;
}


#i_m_a_versatile_full_stack_developer_with_expertise_in_front_end_and_back_end_technologies__including_javascript__html__css__react__and_node_js__passionate_about_continuous_learning__my_ambition_is_to_expand_my_proficiency_across_various_programming_languages__i_possess_a_knack_for_adapting_quickly_to_new_programs__reflecting_my_commitment_to_staying_agile_in_the_dynamic_field_of_web_development_ {
	top: 561px;
	left: 759px;
	width: 6888.5px;
	height: 316.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	color:#31C6E7;
}

#frame_4 {
	top: 307px;
	left: 90px;
	width: 72px;
	height: 72px;
}



#mdi_account {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
}

#vector {
	top: 12px;
	left: 12px;
	width: 48px;
	height: 48px;
}

#bi_person_workspace {
	top: 621px;
	left: 90px;
	width: 72px;
	height: 72px;
}



#group {
	top: 4.5px;
	left: px;
	width: 72px;
	height: 67.5px;
}

#_bg__group_ek1 {
	top: -5px;
	left: 0px;
	width: 72px;
	height: 67.5px;
	background:#;
}


#vector_ek1 {
	top: 18px;
	left: 14px;
	width: 45px;
	height: 49.28px;
}


#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 58.5px;
}

#teenyicons_phone_solid {
	top: 749px;
	left: 90px;
	width: 72px;
	height: 72px;
}




#vector_ek3 {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
}

#streamline_wrench_solid {
	top: 448px;
	left: 90px;
	width: 72px;
	height: 72px;
}




#vector_ek4 {
	top: 0.02px;
	left: 0.11px;
	width: 71.77px;
	height: 71.97px;
}

#frame_5 {
	top: 485px;
	left: 1606px;
	width: 72px;
	height: 204px;
}

#_bg__frame_5_ek1 {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 204px;
	background:#;
}

#streamline_instagram_solid {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
}

#_bg__streamline_instagram_solid_ek1 {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background:#;
}


#vector_ek5 {
	top: 4.05px;
	left: 4.04px;
	width: 70.49px;
	height: 67.95px;
}

#ep_coffee {
	top: 132px;
	left: 0px;
	width: 72px;
	height: 72px;
}

#_bg__ep_coffee_ek1 {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	
}

#fa6_brands_github {
	top: -282px;
	left: 0px;
	width: 94px;
	height: 88px;
}

#_bg__fa6_brands_github {
	top: 0px;
	left: 0px;
	width: 94px;
	height: 88px;

}


#vector_ek6 {
	top: 1.38px;
	left: 0px;
	width: 72px;
	height: 72px;
}


#vector_ek7 {
	top: 0px;
	left: 0px;
	width: 72px;
	height: 54px;
}


#vector_ek8 {
	top: 762px;
	left: 1606px;
	width: 72px;
	height: 72px;
}


#hire_me {
	top: 861px;
	left: 789px;
	width: 298px;
	height: 144px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	color:#31C6E7;
}




