:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #cad2c5;
  overflow: hidden;
}
.flex-row-cac {
  position: relative;
  width: 257px;
  height: 38px;
  margin: 42px 0 0 1144px;
  z-index: 7;
}
.sign-up {
	cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 0;
  left: 153px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.login {
	cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 2px;
  left: 0;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.line {
  position: absolute;
  width: 4px;
  height: 26.078px;
  top: 4.961px;
  left: 118px;
  background: url(./assets/images/4272f3c6-6a87-4f3d-a89f-c53c38f634bb.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.ellipse {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 163px 0 0 630px;
  background: url(skins/nigger.2.png)
    no-repeat center;
  background-size: cover;
  border-radius: 50%;
}
.my-name-is {
  display: block;
  position: relative;
  height: 36px;
  margin: 8px 0 0 640px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.kagingo-brian {
  display: block;
  position: relative;
  height: 61px;
  margin: 0 0 0 547px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 800;
  line-height: 60.511px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.line-1 {
  position: relative;
  width: 404.078px;
  height: 1px;
  margin: 3px 0 0 548.961px;
  background: url(./assets/images/ea59f25c-3105-49fb-819d-02f220aa056e.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.programmer-web-designer {
  display: block;
  position: relative;
  height: 36px;
  margin: 4px 0 0 540px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 121px;
  margin: 311px 0 0 0;
  background: rgba(82, 121, 111, 0.23);
  z-index: 14;
}
.contact {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 53px;
  left: 1223px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.service {
	cursor: pointer;
  position: absolute;
  width: 131px;
  height: 36px;
  top: 53px;
  left: 787px;
  cursor: pointer;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 10;
}
.about {
 cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 53px;
  left: 307px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.skills {
	cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 53px;
  left: 566px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.home {
	cursor:pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 53px;
  left: 98px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.blog {
	cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 53px;
  left: 1035px;
  color: #84a98c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
a{
  color:#84a98c ;
  text-decoration: none;
}

