@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --bg-color: #f1f5f9;

  --slate-500: #64748b;
  --slate-700: #334155;
  --slate-900: #0f172a;

  --primary-color: #fb7185;
  --secondary-color: #4f46e5;

  --font-family: "Quicksand", sans-serif;
  --alt-font-family: "Protest Revolution", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--slate-700);

  height: 100vh;
}
.title {
  font-family: sans-serif;
  color: var(--slate-900);
  text-align: center;
  font-size: 5rem;
  transform: translateY(8rem);
}
hr {
  margin-top: 20px;
  width: 20rem;
}
.skills {
  display: grid;
  flex-direction: column;
}
.nav-bar {
  /* border: 2px solid green; */
  min-height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.nav-links {
  font-size: 2rem;
  font-weight: 700;
}

.nav-links:hover {
  border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

.nav-links-active {
  border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}
a {
  text-decoration: none;
}
