@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --bg-color: #f1f5f9;

  --slate-500: #64748b;
  --slate-700: #334155;
  --slate-900: #0f172a;

  --primary-color: #fb7185;
  --secondary-color: #4f46e5;

  --font-family: "Quicksand", sans-serif;
  --alt-font-family: "Protest Revolution", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--slate-700);

  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--slate-700);
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: column;

  /* border: 2px solid blue; */
}

.title {
  font-size: 5rem;
  font-family: var(--alt-font-family);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* ----- Index Styling --- */
/* === HEADER STYLING === */
.header {
  min-height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu-bar {
  display: none;
}

.user-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem;
}

.user-auth a {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.user-auth a:hover {
  border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

.separator-line {
  padding-top: 2.4rem;
  border: 2px solid var(--secondary-color);
}

/* ==section intro  == */
.intro-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}

.profile-img {
  display: block;
  width: 250px;
  border-radius: 50%;
}

.intro-text {
  text-align: center;
}

.intro-text h1 {
  font-size: 5rem;
}

.intro-text h1,
.intro-text h2 {
  margin-bottom: 10px;
}

.intro-text hr {
  border: 1px solid var(--slate-500);
}

/* === NAVIGATION BAR STYLING === */
.nav-bar {
  /* border: 2px solid green; */
  min-height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.nav-links {
  font-size: 2rem;
  font-weight: 700;
}

.nav-links:hover {
   border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

.nav-links-active {
   border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}
/* -- --=== RESPONSIVENESS ===-- --- */
@media (max-width: 1280px) {
  .container {
    min-width: 1280px;

    /* border: 2px solid purple; */
  }
}

@media (max-width: 1024px) {
  .container {
    min-width: 1024;

    /* border: 2px solid orange; */
  }

  .nav-links {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 768px;

    /* border: 2px solid orangered; */
  }

  .user-auth a {
    font-size: 20px;
  }

  /* == Index page styling == */
  .intro-section {
    gap: 40px;

    padding-top: 120px;
  }

  .intro-text h1 {
    font-size: 40px;
  }

  .intro-text h2 {
    font-size: 20px;
  }

  .nav-links {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .container {
    min-width: 640px;

    /* border: 2px solid red; */
  }

  /* === HEADER STYLING === */
  .header {
    /* min-height: 10vh; */
    /* padding: 25px; */
    justify-content: space-between;
  }

  .menu-bar {
    display: block;
  }

  .menu-bar {
    font-size: 2rem;
  }

  .user-auth a {
    font-size: 18px;
  }

  /* == Index page styling == */
  .intro-section {
    min-height: 90vh;
    gap: 60px;

    padding-top: 150px;
  }

  .profile-img {
    width: 240px;
  }

  .intro-text h1 {
    font-size: 32px;
  }

  .intro-text h2 {
    font-size: 18px;
  }

  .intro-text h1,
  .intro-text h2 {
    margin-bottom: 10px;
  }

  /* === NAVIGATION BAR STYLING === */
  .nav-bar {
    display: none;
  }
}

@media (max-width: 475px) {
  .container {
    min-width: 475px;

    /* border: 2px solid teal; */
  }

  .user-auth a {
    font-size: 16px;
  }

  /* == Index page styling == */
  .intro-section {
    margin-top: 40px;
    min-height: 100vh;
    gap: 50px;

    padding-top: 150px;
  }

  .profile-img {
    width: 200px;
  }

  .intro-text h2 {
    font-size: 16px;
  }

  .intro-text h1,
  .intro-text h2 {
    margin-bottom: 8px;
  }
}

/* @media (min-width: 1280px) {} */

/* @media (min-width: 1536px) {} */
