.btn {
  display: inline-block;
  font-weight: 600;
  letter-spacing: -0.05em;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: .5em 1em;
  border-radius: 6px;
  transition: all .5s ease-in-out;
}

.btn:hover {
  transform: scale(.91);
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  padding-right: .5rem;
  border: 2px solid green;
}

.section {
  margin-top: 3rem;
}





/* ---------------------------------------- */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile-img {
  width: 10rem;
  border-radius: 50%;
}

.intro-text {
  text-align: center;
}

.intro-text h2 {
  font-size: .75rem;
  color: var(--slate-600);
}

.intro-text h1 {
  font-size: 1.5rem;
  font-family: var(--alt-font-family);
}

.intro-text hr {
  border: 1px solid var(--slate-400);
}

.intro-btn {
  font-size: .75rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    border: 2px solid rebeccapurple;
  }

  /* --- homepage --- */
  .header {
    padding: .5rem;
  }


  .intro-text h2 {
    font-size: .85rem;
  }

  .intro-text h1 {
    font-size: 1.875rem;
  }

  .intro-btn {
    font-size: .85rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    border: 2px solid indianred;
  }

  /* --- homepage --- */
  .menu-bar i {
    font-size: 1rem;
  }

  .user-auth {
    gap: .85rem;
  }

  .user-auth a {
    font-size: .85rem;
  }

  /* ---------------------------------------- */
  .intro-section {
    gap: 3rem;
  }

  .profile-img {
    width: 12rem;
  }

  .intro-text h2 {
    font-size: 1rem;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  .intro-btn {
    font-size: 1rem;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 2px solid blue;
  }

  /* --- homepage --- */
  .header {
    justify-content: flex-end;
    padding: 1.2rem;
  }

  .menu-bar {
    display: none;
  }

  .user-auth {
    gap: 1rem;
  }

  .user-auth a {
    font-size: 1rem;
  }

  /* ---------------------------------------- */
  .intro-section {
    gap: 4rem;
  }

  .profile-img {
    width: 15rem;
  }

  .intro-text h2 {
    font-size: 1.125rem;
  }

  .intro-text h1 {
    font-size: 2.25rem;
  }

  .intro-btn {
    font-size: 1.125rem;
  }

}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    border: 2px solid teal;
  }

  /* --- homepage --- */
  .user-auth {
    gap: 1.25rem;
  }

  /* ---------------------------------------- */
  .intro-section {
    padding: 80px 0;
    gap: 4rem;
  }

  .intro-text h2 {
    font-size: 1.25rem;
  }

  .intro-text h1 {
    font-size: 3rem;
  }

  .intro-btn {
    font-size: 1.25rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    border: 2px solid orange;
  }

  /* ---------------------------------------- */
  .intro-section {
    padding: 50px 0;
    gap: 4rem;
  }

  .nav-bar {
    padding: 15px 0;
  }

  .nav-links {
    font-size: 1.25rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    width: 100%;
    max-width: 1536px;
    border: 2px solid orangered;
  }

  /* --- homepage --- */
  .header {
    padding: 1.5rem;
  }

  /* .user-auth a {
    font-size: 1.875rem;
  } */

  /* ---------------------------------------- */
  .intro-section {
    padding: 30px 0;
  }

  .profile-img {
    width: 25rem;
  }

  .intro-text h2 {
    font-size: 1.5rem;
  }

  .intro-text h1 {
    font-size: 5rem;
  }

  .nav-links {
    font-size: 1.5rem;
  }
}