@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --bg-color: #f1f5f9;

  --slate-500: #64748b;
  --slate-700: #334155;
  --slate-900: #0f172a;

  --primary-color: #fb7185;
  --secondary-color: #4f46e5;

  --font-family: "Quicksand", sans-serif;
  --alt-font-family: "Protest Revolution", sans-serif;
}
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
}
h1 {
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
  color: var(--slate-900);
  font-family: var(--font-family);
  font-size: 3rem;
}

.blog-post {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.blog-post img {
  margin-right: 30px;
  width: 25rem;
  margin-top: 3rem;
  border-radius: 10%;
}
p {
  margin-top: -180px;
  max-width: auto;
  max-height: 10px;
}
.logo h1 {
    font-family: var(--alt-font-family);
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.like {
  transform: translateX(1000px);
  margin-bottom: 60px;
  font-size: 30px;
  color: var(--slate-900);
  max-width: 30px;
}
.dislike {
  transform: translateX(1000px);
  font-size: 30px;
  color: var(--slate-900);
  max-width: 30px;
}
.dislike:hover {
  transform: translateX(1000px);
  font-size: 30px;
  color: var(--secondary-color);
}
.like:hover {
  transform: translateX(1000px);
  margin-bottom: 60px;
  font-size: 30px;
  color: var(--secondary-color);
}
.disliked .liked {
  color: var(--secondary-color);
}
.container {
  width: 600px;
  border: 2px solid var(--slate-900);
  padding: 15px 10px;
  transform: translateX(700px);
  margin-bottom: 200px;
}
.container h2 {
  text-align: center;
  margin-bottom: 15px;
}
textarea {
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--slate-900);
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}

input[type="submit"],
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"] {
  display: inline-block;
  font-weight: 600;
  letter-spacing: -0.05em;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.5em 1em;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
input[type="submit"]:hover {
  transform: scale(0.91);
  background-color: var(--secondary-color);
  color: var(--light-color);
}
button {
  color: #333;
  background-color: transparent;
}
.btn {
  display: none;
}
